{{ $alg := .Site.Params.fingerprintAlgorithm | default "sha512" }}
{{ range $path := slice "css/custom/briefing-sections.css" "css/custom/calendar.css" "css/custom/toc-and-effects.css" "css/custom/layout-overrides.css" "css/custom/chart-cards.css" "css/custom/home-market-overview.css" "css/custom/terminal-footer.css" }}
  {{ with resources.Get $path }}
    {{ $css := . | resources.Minify | resources.Fingerprint $alg }}
    <link type="text/css" rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ end }}
{{ end }}

{{ if .Params.regime }}
<script>
  window.__MP_PAGE = {{ dict "regime" .Params.regime "regimeIcon" .Params.regimeIcon "summary" .Params.summary "chartData" .Params.chartData | jsonify | safeJS }};
</script>
{{ end }}
{{ if .Params.chartData }}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.1/dist/echarts.min.js"></script>
{{ end }}
